<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
>

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.location.network" />


    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />


    <!-- 如果有视频相关的广告且使用textureView播放，请务必添加，否则黑屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name="com.android.client.Application"
        tools:replace="android:fullBackupContent"
        android:fullBackupContent="@xml/sdk_full_backup_contents"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:networkSecurityConfig="@xml/network_security_config">

        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />
        <provider
            android:name="com.ivy.internal.IvyInitProvider"
            android:authorities="${applicationId}.IvyInitProvider"
            android:exported="false" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="${gms_games_app_id}\" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${google_admob_application_id}" />

        <meta-data
            tools:replace="android:value"
            android:name="com.facebook.sdk.ApplicationId"
            android:value="${facebook_appId}\" />

        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="${facebook_clientToken}" />

        <provider android:authorities="com.facebook.app.FacebookContentProvider${facebook_appId}"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />

        <meta-data android:name="din" android:value="${din}"/>
        <meta-data android:name="ivy.debug" android:value="${ivy_debug}"/>
        <meta-data android:name="parfka.appToken" android:value="${parfka_appToken}"/>
        <meta-data android:name="applovin.sdk.key" android:value="${applovin_sdk_key}"/>
        <meta-data android:name="parfka.baseUrl" android:value="${parfkaUrl}"/>
        <activity android:name="com.ivy.internal.WebViewActivity" android:theme="@style/Theme.AppCompat.Light"/>
        <meta-data android:name="com.google.android.gms.ads.AD_MANAGER_APP" android:value="true" />
<!--        <meta-data android:name="aps.id" android:value="${aps_id}\"/>-->
<!--        <meta-data android:name="smaato.appId" android:value="${smaato_appId}\" />-->



        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true"/>
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true"/>

        <activity
            android:name="com.ivy.ads.promote.our.GameActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="sensorLandscape"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:launchMode="standard"
            android:name="com.ivy.ads.promote.our.FullAdActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="user"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <service
            android:name="com.ivy.fcm.AOEFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.ivy.help.TiledeskActivity"  android:exported="false" android:theme="@style/Theme.HelpDeskTheme"/>

<!--        设置默认同意gdpr意见征求-->
        <meta-data android:name="google_analytics_default_allow_analytics_storage" android:value="true" />
        <meta-data android:name="google_analytics_default_allow_ad_storage" android:value="true" />
        <meta-data android:name="google_analytics_default_allow_ad_user_data" android:value="true" />
        <meta-data android:name="google_analytics_default_allow_ad_personalization_signals" android:value="true" />
<!--        设置默认同意gdpr意见征求-->
        <!-- Delay app measurement until MobileAds.initialize() is called. -->
        <meta-data
            android:name="com.google.android.gms.ads.DELAY_APP_MEASUREMENT_INIT"
            android:value="true"/>

    </application>
</manifest>
